<div class="form-group row">

  <label class="col-sm-5 col-form-label">Task Name:</label>
  <div class="col-sm-7">
      <input type="text" class="form-control" [(ngModel)]="Name"
      placeholder="Task Name">

  </div>

  <label class="col-sm-5 col-form-label pt-3">Status:</label>
  <div class="col-sm-7 pt-3">
    <div class="btn-group" role="group">
      <input [(ngModel)]="Status" type="radio" value="Not Started" class="btn-check" name="btnradio" id="btnradio1" autocomplete="off" checked>
      <label class="btn btn-outline-secondary" for="btnradio1">Not Started</label>

      <input [(ngModel)]="Status" type="radio" value="In Progress" class="btn-check" name="btnradio" id="btnradio2" autocomplete="off">
      <label class="btn btn-outline-warning" for="btnradio2">In Progress</label>

      <input [(ngModel)]="Status" type="radio" value="Completed" class="btn-check" name="btnradio" id="btnradio3" autocomplete="off">
      <label class="btn btn-outline-success" for="btnradio3">Completed</label>
    </div>
  </div>

  <label class="col-sm-5 col-form-label pt-3 float-beginning">Description:</label>
    <div class="col-sm-7 pt-3">
      <textarea [(ngModel)]='Description' class="form-control" placeholder="Add A Description">
      </textarea>
    </div>

</div>

<button (click)="addTask()" *ngIf="!task.Id" class="btn btn-primary mt-5">Add Task</button>

<button (click)="updateTask()" *ngIf="task.Id" class="btn btn-primary mt-5">Update Task</button>
